@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
	transition-duration: 500ms;
}

section{
	margin-top: -1px;
	margin-bottom: -1px;
}

h1 {
	font-family: 'commuters-sans';
	font-size: 120px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1em; /* 100% */
	text-transform: uppercase;
}

h2 {
	color: #000;

	font-feature-settings:
		'clig' off,
		'liga' off;

	/* H2 - Bold */
	font-family: 'commuters-sans';
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px; /* 128% */
}

h3 {
	color: #000;
	font-feature-settings:
		'clig' off,
		'liga' off;

	/* H3 - Bold */
	font-family: 'commuters-sans';
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px; /* 126.316% */
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

h4 {
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-feature-settings:
		'clig' off,
		'liga' off;

	/* H4 - Bold */
	font-family: 'commuters-sans';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 38px; /* 135.714% */
}
h4 b{
	font-weight: 800;
}

h5 {
	color: #000;
	font-feature-settings:
		'clig' off,
		'liga' off;

	font-family: 'commuters-sans';
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42em;
	letter-spacing: 1.5px;
	
}
h5 b, h6 b {
	font-weight: 700;
}

h6 {
	color: var(--Black, #000);
	leading-trim: both;

	text-edge: cap;
	font-feature-settings:
		'clig' off,
		'liga' off;
	/* H6 - reg */
	font-family: 'commuters-sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 21px */
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

p, input, textarea, form button {
	color: #000;
	font-feature-settings:
		'clig' off,
		'liga' off;

	/* Paragraph */
	font-family: 'rig-sans';
	overflow: hidden;
	color: var(--Black, #000);
	font-feature-settings:
		'liga' off,
		'clig' off;
	text-overflow: ellipsis;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
	letter-spacing: 0.25px;
}

div {
	color: #000;

	/* Paragraph 2 */
	font-family: 'rig-sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.07px;
}

button {
	color: #000;
	font-family: 'commuters-sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1.5px;
	
}

.quote p {
	color: var(--e-4-eeea, #e4eeea);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-feature-settings:
		'clig' off,
		'liga' off;
	font-family: 'commuters-sans';
	font-size: 66px;
	font-style: normal;
	font-weight: 400;
	line-height: 80px; /* 121.212% */
}

@media screen and (max-width: 1600px) {
	h1{
		font-size: 96px;
	}
}

@media screen and (max-width: 1340px) {
	h1{
		font-size: 80px;
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		color: var(--ffffff, #fff);
		font-family: 'commuters-sans';
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 125%; /* 60px */
		text-transform: uppercase;
	}

	h2 {
		color: var(--Black, #000);
		leading-trim: both;
		text-edge: cap;
		font-feature-settings:
			'clig' off,
			'liga' off;
		font-family: 'commuters-sans';
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: 38px; /* 135.714% */
	}

	.quote p{
			font-size: 42px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.2em; /* 121.212% */
		}

	
}

@media screen and (max-width: 480px) {
	h5{
		font-size: 19px;
	}

	.quote p {
		color: var(--e-4-eeea, #e4eeea);
		font-feature-settings:
			'clig' off,
			'liga' off;
		font-family: 'commuters-sans';
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 125%; /* 40px */
	}


	h2{

		font-size: 22px;
		line-height: 125%; /* 60px */

	}
}

a {

	font-family: 'rig-sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;

	transition: opacity 500ms ease-out;
}

a {
	transition: color 600ms;
	cursor: pointer;
}

.filter-to-accent-pink {
	filter: brightness(0) invert(52%) sepia(51%) saturate(3738%) hue-rotate(314deg) brightness(97%)
		contrast(86%);
}

.filter-to-accent-pink-on-hover:hover {
	filter: brightness(0) invert(52%) sepia(51%) saturate(3738%) hue-rotate(314deg) brightness(97%)
		contrast(86%);
}

.bump {
	transition: transform 300ms ease-out;
}

.bump:active {
	transform: translateY(-8px);
}

.use-gpu {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.background-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	overflow: hidden;
}

#content-container {
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.rich-text p{
	min-height: 1em;
}

.rich-text h5{
	letter-spacing: normal;
}
